.header {
  float: right;
  font-size: 40px; 
  font-family: 'Palatino Linotype';
  padding: 20px 40px;
  background-color: #ffff99;
  color: snow;
  height: 90px;
  width: 100%;
}

.header2 {
  float: right;
  font-size: 40px; 
  font-family: 'Palatino Linotype';
  padding: 20px 40px;
  background-color: #ffff77;
  color: snow;
  height: 90px;
  width: 100%;
}

.psychology {
  font-size: 30px;
  font-family: '游明朝';
  height: 615px;
  background-color: whitesmoke;
  padding: 250px 200px 250px 250px;
}

#sec2 p {
  font-size: 30px;
  font-family: '游明朝';
  height: 150px;
  background-color: palegreen;
  padding: 250px 200px 250px 280px;
}

#sec2 a {
  font-size: 20px;
  border: solid 2px green;
  border-radius: 10px;
  padding: 10px 20px;
}
#sec2 img {
  width: 60%;
 margin: 50px auto;
 }

 #contact .title {
   font-size: 25px;
 }

 #contact > div {
  background-color: #ff9872;
  color: white;
  font-family: '游明朝';
  padding: 30px 20px;
 }

 #contact .inputArea {
  padding: 20px 0;
 }

 #contact input, #contact textarea {
  color: black;
  border-radius: 5px;
 }

 #contact button {
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px 20px;
 }
